body {
  background-color:#121212;
  color:#ffffff;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.navbar-brand{
  font-size:2rem;
  font-weight:bold;
}

.navbar-brand span.parth{
  color:#00ffd5;
}
.navbar-brand span.ify{
  color: #ff4f81;
}

.navbar{
  box-shadow: 0 4px 6px rgba(0,0,0,0.5);
}
input.form-control{
  background-color: #1e1e1e;
  border:1px solid #444;
  color:white;
}

input.form-control::placeholder{
  color: #aaa;
}

.btn-outline-success{
  color: #00ffd5;
  border-color: #00ffd5;
}

.btn-outline-success:hover{
  background-color: #00ffd5;
  color:black;
}

.card{
  background-color: #1e1e1e;
  color: #fff;
  border:none;
  border-radius:1rem;
  transition:transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover{
  transform:translateY(-5px);
  box-shadow:0 8px 20px rgba(0,255,213,0.3);
}

.card-img-top{
  border-top-left-radius:1rem;
  border-top-right-radius:1rem;
}

.card-body{
  padding:1rem;
}
.card-title{
  font-size:1rem;
  font-weight:600;
  color:#00ffd5;
}

.card-text,.cars-text{
  font-size:1rem;
  color:#bbb;
}
audio{
  margin-top:1rem;
  border-radius:5px;
}
h1{
  font-size:3rem;
  font-weight:bold;
  color:#ffffff;
  text-shadow:0 0 10px #ff4f81;
}

.spinner-border{
  color:#00ffd5;
}
